* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
// :focus,
// :active {
//   outline: none;
// }
// a:focus,
// a:active {
//   outline: none;
// }
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* среднее сглаживание */
  -webkit-font-smoothing: antialiased;
  /* сильное сглаживание */
  // -webkit-font-smoothing: subpixel-antialiased;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
/* убирает стрелочки в input для number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
// input, textarea, select {
//   -webkit-appearance: none;
//   -webkit-appearance: none;
//   appearance: none;
// }
// select::-ms-expand {  /* для IE */
//   display: none;
// }

textarea {
  resize:none
}
button {
  cursor: pointer;
  background-color: initial;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a {
  color: inherit;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}